@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8f3;
}

.wrapper {
  min-height: 100%;
}

.btn {
  width: 188px;
  height: 75px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  text-align: center;
  text-transform: uppercase;
  background-color: #6e774a;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  margin-left: 60px;
}
.menu__item {
  color: #ffffff;
  margin-right: 48px;
}

.titleWebsite {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
}

.functional {
  color: #ffffff;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  margin-right: 35px;
}

.login {
  margin-right: 100px;
}

.cart {
  margin-left: 69px;
}

.mainPage {
  background: url(../images/main_bg.png) no-repeat center;
  background-size: cover;
  text-align: right;
}

.mainPage-container {
  max-width: 1175px;
  margin: 0 auto;
  padding-bottom: 333px;
}

.title {
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 75px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 15.4px;
  padding-top: 395px;
}

.sub-title {
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 75px;
  text-align: right;
  letter-spacing: 6.72px;
  margin-bottom: 56px;
}

.startShoping {
  width: 270px;
  height: 70px;
  padding-right: 50px;
  background-color: transparent;
  border: 1px solid #9db892;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  text-align: right;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.startShoping::before {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 35px;
  right: 30px;
}

.seeAll {
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 75px;
  text-align: right;
  letter-spacing: 5.04px;
}

.icon-Arrow-rightA::after {
  margin-left: 22px;
  width: 20px;
  height: 10px;
}

.logos-container {
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
}

.logos {
  text-align: center;
}

.holderLogos {
  margin: 100px 0;
}

.titleLogos {
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.imgLogos {
  position: absolute;
  top: 50%;
  left: 28%;
  z-index: 2;
}

.tabs-container {
  max-width: 1175px;
  margin: 0 auto;
}

.tabs__items {
  display: flex;
  position: relative;
  margin-bottom: 80px;
}
.tabs__items::before {
  content: "";
  display: block;
  width: 970px;
  height: 2px;
  background-color: #ced6af;
  position: absolute;
  top: 80px;
  left: 30px;
}
.tabs__item {
  flex: 0 1 25%;
  color: #1c1c1b;
  height: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  margin-bottom: 50px;
}
.tabs__item:hover {
  border-bottom: 2px #1c1c1b;
  width: 228px;
}
.tabs__skeleton {
  display: flex;
  margin-left: 15px;
}
.tabs__block-desc {
  margin-top: 60px;
  margin-right: 192px;
  flex: 0 1 50%;
}
.tabs__block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}
.tabs__block.active {
  display: block;
}
.tabs__block::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
}
.tabs__block-title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin-bottom: 50px;
}
.tabs__block-text {
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 0.72px;
}
.tabs__block-text p {
  margin-bottom: 60px;
}
.tabs__block-img {
  flex: 1 1 50%;
}
.tabs__block-img img:nth-child(even) {
  margin: 50px 0;
}

.firstLevel {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
}
.firstLevel .secondLevel {
  max-width: 1820px;
  margin: 0 auto;
}
.firstLevel .secondLevel .thirdLevel {
  max-width: 1175px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
