@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8f3;
}

.wrapper {
  min-height: 100%;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.btn {
  width: 188px;
  height: 75px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  text-align: center;
  text-transform: uppercase;
  background-color: #6e774a;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.header__menu {
  display: flex;
  flex: 0 1 42%;
}

.burger {
  width: 45px;
  height: 45px;
  margin-left: 20px;
}

label span {
  position: relative;
  display: none;
  background: #ffffff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotate(45deg) translate(7px, 0px);
}

input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -10px) rotate(45deg);
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.header {
  background: url(../images/header-shadow.png) no-repeat center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 50;
  align-items: center;
  text-align: center;
}

.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.4;
  position: absolute;
  top: 80px;
  left: 0;
}

@media (min-width: 767px) {
  .header-container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
  }
}

.menu__list {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  flex: 33%;
}
.menu__item {
  color: #ffffff;
  margin-right: 48px;
}

.titleWebsite {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  flex: 30%;
}

.functional {
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  flex: 35%;
}

.functional > div {
  padding: 30px 35px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  height: 80px;
}

.icon-search::before {
  margin-right: 11px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.mainPage {
  background: url(../images/main_bg.png) no-repeat center;
  height: 100%;
  background-size: cover;
}

.externalContainer {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.mainPage-container {
  max-width: 1175px;
  margin: 0 auto;
  padding-bottom: 333px;
  text-align: right;
}

.title {
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: calc(35px + 20 * ((100vw - 320px) / 960));
  font-weight: 400;
  line-height: 75px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 15.4px;
  padding-top: 395px;
}

.sub-title {
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 75px;
  text-align: right;
  letter-spacing: 6.72px;
  margin-bottom: 56px;
  padding-right: 10px;
}

.startShoping {
  width: 270px;
  height: 70px;
  padding-right: 35px;
  background-color: transparent;
  border: 1px solid #9db892;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 230px;
  text-align: right;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.startShoping a {
  color: #ffffff;
}

.startShoping::before {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 33px;
  right: 30px;
}

.seeAll {
  color: #f7f8f3;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 75px;
  text-align: right;
  letter-spacing: 5.04px;
  margin-bottom: 60px;
  margin-right: 15px;
}

.icon-Arrow-rightA::after {
  margin-left: 22px;
  width: 20px;
  height: 10px;
}

.verticall {
  position: absolute;
  bottom: 100px;
  left: -60px;
  transform: rotate(-90deg);
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: calc(16px + 10 * ((100vw - 320px) / 960));
  font-weight: 400;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.08px;
}
.verticall::before {
  content: "";
  display: inline-block;
  width: 170px;
  height: 2px;
  margin-bottom: 8px;
  margin-right: 10px;
  background-color: #f7f8f3;
}

.arrowDawn {
  margin-bottom: 60px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.logos-container {
  max-width: 1175px;
  margin: 0 auto;
  position: relative;
}

.logos {
  text-align: center;
}

.holderLogos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 100px 0;
}

.titleLogos {
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 2;
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.tabs-container {
  max-width: 1175px;
  margin: 0 auto;
}

.tabs__items {
  display: flex;
  position: relative;
}
.tabs__items::before {
  content: "";
  display: block;
  width: 970px;
  height: 2px;
  background-color: #ced6af;
  position: absolute;
  top: 78px;
  left: 30px;
}
.tabs__item {
  flex: 0 1 25%;
  color: #1c1c1b;
  height: 80px;
  font-family: "Oswald", sans-serif;
  font-size: calc(15px + 10 * ((100vw - 320px) / 960));
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 20px 50px 0;
}
.tabs__item:active {
  text-shadow: 1px 1px 2px #6e774a;
}
.tabs__item:hover {
  border-bottom: 2px solid #1c1c1b;
  z-index: 5;
}
.tabs__skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
  margin-left: 15px;
}
.tabs__block-desc {
  margin-top: 40px;
  margin-right: 147px;
  flex: 0 1 50%;
}
.tabs__block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}
.tabs__block.active {
  display: block;
}
.tabs__block::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
}
.tabs__block-title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin-bottom: 35px;
}
.tabs__block-text {
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.72px;
}
.tabs__block-text p {
  margin-bottom: 40px;
}
.tabs__block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  flex: 1 1 50%;
  margin-right: 15px;
}
.tabs__block-img img:nth-child(even) {
  margin: 50px 0;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.shop-slider__container {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.shop-title {
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 80px auto;
  padding: 30px 20px;
}

.shop-carts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
}

.cart-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  height: 430px;
  border: 1px solid #ced6af;
  background-color: #ffffff;
  flex: 0 1 32%;
}
.cart-desc .cart-desc__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 40px auto;
}
.cart-desc__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-top: 40px;
  padding: 0 15px;
}
.cart-desc__title img {
  width: 96px;
  height: 15px;
}

.shopPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  border: 1px solid #e1e1e1;
  background-color: #f1f1f1;
}
.shopPrice__price {
  width: 100%;
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-left: 30px;
}
.shopPrice__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-right: 50px;
  position: relative;
}
.shopPrice__btn::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  right: 15px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.faq-container {
  max-width: 575px;
  margin: 0 auto;
}

.faq-container:last-child {
  margin-bottom: 180px;
}

.faq-title {
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.accordion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 75px;
  text-align: left;
  letter-spacing: 5.04px;
  background-color: transparent;
  background-color: #f7f8f3;
  position: relative;
  padding: 0 15px;
}

.accordion::before {
  content: "";
  display: block;
  height: 2px;
  width: 571px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eaedde;
}

.accordion::after {
  content: "";
  display: block;
  height: 2px;
  width: 571px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eaedde;
}

.accordion img {
  margin-right: 30px;
}

.panel {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
  letter-spacing: 0.72px;
  padding: 0 15px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.everyDay {
  background: url(../images/cbd_every_day.png) no-repeat center;
  height: 100%;
  background-size: cover;
  color: #ffffff;
}

.externalContainerED {
  max-width: 1920px;
  margin: 0 auto;
}

.everyDay-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.everyDay-container__content {
  max-width: 1175px;
  margin: 0 auto;
  text-align: center;
}

.rating {
  padding-top: 265px;
  margin-bottom: 40px;
}

.faq-text {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 4.4px;
}

.faq-author {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  position: relative;
  margin-bottom: 225px;
}

.faq-author::before {
  content: "";
  display: block;
  width: 45px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 40%;
}

.faq-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-arrows .icon-Arrow-left {
  display: block;
  border: 1px solid #ffffff;
  padding: 45px 40px 40px 40px;
  border-bottom: none;
}
.faq-arrows .icon-Arrow-rightB {
  display: block;
  border: 1px solid #ffffff;
  padding: 45px 40px 40px 40px;
  border-bottom: none;
}

.verticallED {
  position: absolute;
  bottom: 100px;
  left: 60px;
  transform: rotate(90deg);
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: calc(16px + 10 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.08px;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.social-container {
  max-width: 1175px;
  margin: 0 auto;
}

.social-title {
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 175px;
  margin-bottom: 65px;
  position: relative;
}

.social-title::before {
  content: "";
  display: block;
  width: calc(50px + (200 + 100 * 0.7) * ((100vw - 320px) / 1175));
  height: 2px;
  background-color: #6e774a;
  position: absolute;
  top: 50%;
  left: 50px;
}

.social-title::after {
  content: "";
  display: block;
  width: calc(50px + (200 + 100 * 0.7) * ((100vw - 320px) / 1175));
  height: 2px;
  background-color: #6e774a;
  position: absolute;
  top: 50%;
  right: 50px;
}

.social-row__columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 100%;
  flex-wrap: wrap;
}

.columnPolicy {
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.92px;
  flex: 1 1 33.333%;
}

.columnSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 33.333%;
}

.icon-Facebook,
.icon-Twitter,
.icon-YouTube {
  color: #6e774a;
}

.icon-Twitter {
  margin: 0 60px;
}

.verticallLine {
  display: block;
  width: 2px;
  height: 55px;
  background-color: #6e774a;
  margin-top: 40px;
  margin-bottom: 30px;
}

.social-subTitle {
  color: #1c1c1b;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.form {
  width: 370px;
  display: flex;
  align-items: center;
  border: 2px solid #ced6af;
}

.email {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #6e774a;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  line-height: 75px;
  text-align: left;
  letter-spacing: 4.48px;
  padding-left: 33px;
}

.EmailBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 88px;
  height: 62px;
  background-color: transparent;
  color: #6e774a;
  font-weight: 300;
  text-align: center;
  padding: 0 50px 0 60px;
  position: relative;
}

.EmailBtn::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50px;
  background-color: #ced6af;
  top: 5px;
  left: 0;
}

.columnFeedBack {
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.92px;
  flex: 1 1 33.333%;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}
.footer-container {
  max-width: 1920px;
  margin: 0 auto;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Style for "© 2018. Cb" */
  color: #6e774a;
  font-family: "Oswald", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.08px;
  margin-top: 60px;
  padding-bottom: 60px;
}

/*# sourceMappingURL=style.css.map */
