@import 'fonts.scss';
@import '_mixins.scss';

.tabs-container {
  max-width: 1175px;
  margin   : 0 auto;
}

.tabs {
  &__items {
    display : flex;
    position: relative;

    @media(max-width: 690px) {
      display: block;
      height : 50px;
    }
  }

  &__items::before {
    content         : '';
    display         : block;
    max-width       : 970px;
    height          : 2px;
    background-color: #ced6af;
    position        : absolute;
    top             : 78px;
    left            : 30px;

  }

  &__item {
    flex       : 0 1 25%;
    color      : #1c1c1b;
    height     : 80px;
    font-family: $Os;
    @include adaptiv-font(25, 15);
    font-weight   : 700;
    line-height   : 75px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor        : pointer;
    margin        : 0 20px 50px 0;

    @media(max-width: 880px) {
      line-height: 35px;
    }

    @media(max-width: 780px) {
      line-height: 25px;
    }

    @media(max-width: 621px) {
      margin: 0 20px -35px 0;
    }
  }

  &__item:active {
    text-shadow: 1px 1px 2px #6e774a;
  }

  &__item:hover {
    border-bottom: 2px solid #1c1c1b;
    z-index      : 5;

    @media(max-width: 621px) {
      border-bottom: none;
      border-left  : 5px solid #1c1c1b;
      border-right : 5px solid #1c1c1b;
    }
  }

  &__skeleton {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin-left          : 15px;
    grid-auto-rows       : auto;
  }

  &__block-desc {
    margin-top  : 40px;
    margin-right: 147px;
    flex        : 0 1 50%;

    @media(max-width: 1230px) {
      margin-right: 80px;
    }
  }

  &__block {
    position   : relative;
    padding    : 20px;
    font-size  : 18px;
    line-height: 24px;
    display    : none;
  }

  &__block.active {
    display: block;
  }

  &__block::before {
    content : '';
    height  : 50px;
    width   : 33.333%;
    position: absolute;
  }

  &__block-title {
    color         : #000000;
    font-family   : $Os;
    font-size     : 24px;
    font-weight   : 700;
    line-height   : 40px;
    text-align    : left;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    margin-bottom : 35px;
  }



  &__block-text {
    color         : #6e774a;
    font-family   : $Os;
    font-size     : 18px;
    font-weight   : 300;
    line-height   : 30px;
    text-align    : left;
    letter-spacing: 0.72px;
  }

  &__block-text p {
    margin-bottom: 40px;
  }

  &__block-img {
    max-width      : 100%;
    max-height     : 100%;
    object-fit     : cover;
    object-position: center;
    margin-right   : 30px;

    @media(max-width:1585px) {
      margin: 20px;
    }

    @media(max-width: 1230px) {
      margin-right: 20px;
    }
  }

  &__block-img img:nth-child(even) {
    margin: 50px 0;
  }
}