@import 'fonts.scss';

.tabs-container {
  max-width: 1175px;
  margin   : 0 auto;
}

.tabs {
  &__items {
    display      : flex;
    position     : relative;
    margin-bottom: 80px;
  }

  &__items::before {
    content         : '';
    display         : block;
    width           : 970px;
    height          : 2px;
    background-color: #ced6af;
    position        : absolute;
    top             : 80px;
    left            : 30px;

  }

  &__item {
    flex          : 0 1 25%;
    color         : #1c1c1b;
    height        : 25px;
    font-family   : $Os;
    font-size     : 30px;
    font-weight   : 400;
    line-height   : 75px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor        : pointer;
    margin-bottom : 50px;
  }

  &__item:hover {
    border-bottom: 2px #1c1c1b;
    width        : 228px;

  }

  &__skeleton {
    display    : flex;
    margin-left: 15px;
  }

  &__block-desc {
    margin-top  : 60px;
    margin-right: 192px;
    flex        : 0 1 50%;
  }

  &__block {
    position   : relative;
    padding    : 20px;
    font-size  : 18px;
    line-height: 24px;
    display    : none;
  }

  &__block.active {
    display: block;
  }

  &__block::before {
    content : '';
    height  : 50px;
    width   : 33.333%;
    position: absolute;
  }

  &__block-title {
    color         : #000000;
    font-family   : $Os;
    font-size     : 24px;
    font-weight   : 400;
    line-height   : 40px;
    text-align    : left;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    margin-bottom : 50px;
  }



  &__block-text {
    color         : #6e774a;
    font-family   : $Os;
    font-size     : 18px;
    font-weight   : 300;
    line-height   : 40px;
    text-align    : justify;
    letter-spacing: 0.72px;
  }

  &__block-text p {
    margin-bottom: 60px;
  }

  &__block-img {
    flex: 1 1 50%;
  }

  &__block-img img:nth-child(even) {
    margin: 50px 0;
  }
}