@import 'fonts.scss';

.tabs-container {
  max-width: 1175px;
  margin   : 0 auto;
}

.tabs {
  margin-bottom: 150px;


  &__items {
    display: flex;
  }

  &__item {
    flex          : 0 1 33.333%;
    color         : #1c1c1b;
    height        : 25px;
    font-family   : $Os;
    font-size     : 30px;
    font-weight   : 400;
    line-height   : 75px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 6px;
    cursor        : pointer;
    margin-bottom : 50px;
  }

  &__body {}

  &__block {
    position   : relative;
    padding    : 20px;
    font-size  : 18px;
    line-height: 24px;
    display    : none;
    display    : flex;
  }

  &__block::before {
    content : '';
    height  : 50px;
    width   : 33.333%;
    position: absolute;
    top     : -50px;
  }

  &__block:target {
    display: block;
  }

  &__block-title {}

  &__block-text {}

  &__block-img {}
}