@import 'fonts.scss';
@import '_mixins.scss';

.everyDay {
  background     : url(../images/cbd_every_day.png) no-repeat center;
  height         : 100%;
  background-size: cover;
  color          : #ffffff;
}

.externalContainerED {
  max-width: 1920px;
  margin   : 0 auto;

}

.everyDay-container {
  max-width: 1920px;
  margin   : 0 auto;
  position : relative;

  &__content {
    max-width : 1175px;
    height    : 800px;
    margin    : 0 auto;
    text-align: center;
    overflow  : hidden;
  }
}

.container__content-slider {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-wrap      : wrap;
  position       : relative;
  transition     : all ease 1.2s;
}

.rating {
  padding-top  : 265px;
  margin-bottom: 40px;
}

.coment-text {
  font-family   : $Os;
  font-size     : 22px;
  font-weight   : 300;
  line-height   : 40px;
  letter-spacing: 4.4px;
}

.coment-author {
  font-family   : $Os;
  font-size     : 24px;
  font-weight   : 400;
  line-height   : 75px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  position      : relative;
  margin-bottom : 225px;
}

.coment-author::before {
  content         : '';
  display         : block;
  width           : 45px;
  height          : 2px;
  background-color: #fff;
  position        : absolute;
  top             : 50%;
  left            : 31%;
}

.coment-arrows {
  display        : flex;
  justify-content: center;
  align-items    : center;
  cursor         : pointer;

  .icon-Arrow-left {
    display      : block;
    border       : 1px solid #ffffff;
    padding      : 45px 40px 40px 40px;
    border-bottom: none;
  }

  .icon-Arrow-rightB {
    display      : block;
    border       : 1px solid #ffffff;
    padding      : 45px 40px 40px 40px;
    border-bottom: none;
  }
}

.verticallED {
  position : absolute;
  bottom   : 100px;
  left     : 60px;
  transform: rotate(90deg);

  color      : #ffffff;
  font-family: $Os;
  @include adaptiv-font(26, 16);
  font-weight   : 300;
  line-height   : 55px;
  text-align    : left;
  text-transform: uppercase;
  letter-spacing: 2.08px;

}