@import 'fonts.scss';

.header {
  background     : url(../images/header-shadow.png)no-repeat center;
  background-size: cover;
  position       : absolute;
  width          : 100%;
  height         : 80px;
  z-index        : 50;
  align-items    : center;
}

.header::before {
  content         : '';
  display         : block;
  width           : 100%;
  height          : 1px;
  background-color: #ffffff;
  opacity         : 0.4;
  position        : absolute;
  top             : 80px;
  left            : 0;
}

.header-container {

  max-width      : 1920px;
  margin         : 0 auto;
  height         : 80px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex           : 1 1 100%;
}



.menu {
  &__list {
    display       : flex;
    font-family   : $Os;
    font-size     : 16px;
    font-weight   : 400;
    line-height   : 40px;
    text-align    : left;
    text-transform: uppercase;
    letter-spacing: 0.96px;
    margin-left   : 60px;
    flex          : 0 1 100%;
  }

  &__item {
    color       : #ffffff;
    margin-right: 48px;
    flex        : 0 1 25%;
  }
}



.titleWebsite {
  color         : #ffffff;
  font-family   : $Os;
  font-size     : 30px;
  font-weight   : 400;
  line-height   : 55px;
  text-align    : left;
  text-transform: uppercase;
}

.functional {
  color         : #ffffff;
  display       : flex;
  font-family   : $Os;
  font-size     : 16px;
  font-weight   : 400;
  line-height   : 23px;
  text-align    : left;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  margin-right  : 35px;
}

.functional>div {
  margin-left: 70px;
}

.icon-search::before {
  margin-right: 11px;
}