@import 'fonts.scss';
@import '_mixins.scss';

.mainPage {
  background     : url(../images/main_bg.png) no-repeat center;
  height         : 100%;
  background-size: cover;
}

.externalContainer {
  max-width : 1920px;
  margin    : 0 auto;
  position  : relative;
  text-align: center;
}

.mainPage-container {
  max-width     : 1175px;
  margin        : 0 auto;
  padding-bottom: 333px;
  text-align    : right;
}

.title {
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color      : #f7f8f3;
  font-family: $Os;
  @include adaptiv-font(55, 35);
  font-weight   : 400;
  line-height   : 75px;
  text-align    : right;
  text-transform: uppercase;
  letter-spacing: 15.4px;
  padding-top   : 395px;
}

.sub-title {
  color      : #f7f8f3;
  font-family: $Os;
  @include adaptiv-font(24, 16);
  font-weight   : 300;
  line-height   : 75px;
  text-align    : right;
  letter-spacing: 6.72px;
  margin-bottom : 56px;
  padding-right : 10px;
}

.startShoping {
  width           : 270px;
  height          : 70px;
  padding-right   : 35px;
  background-color: transparent;
  border          : 1px solid #9db892;
  color           : #ffffff;
  font-family     : $Os;
  font-size       : 20px;
  font-weight     : 400;
  line-height     : 230px;
  text-align      : right;
  text-transform  : uppercase;
  display         : inline-flex;
  justify-content : center;
  align-items     : center;
  position        : relative;
  cursor          : pointer;
  margin-right    : 15px;

}

.startShoping a {
  color: #ffffff;

}

.startShoping::before {
  content         : '';
  display         : block;
  width           : 45px;
  height          : 2px;
  background-color: #ffffff;
  position        : absolute;
  top             : 33px;
  right           : 30px;
}

.seeAll {
  color         : #f7f8f3;
  font-family   : $Os;
  font-size     : 18px;
  font-weight   : 300;
  line-height   : 75px;
  text-align    : right;
  letter-spacing: 5.04px;
  margin-bottom : 60px;
  margin-right  : 15px;
}

.icon-Arrow-rightA::after {
  margin-left: 22px;
  width      : 20px;
  height     : 10px;
}

.verticall {
  position  : absolute;
  bottom    : 100px;
  left      : -60px;
  transform : rotate(-90deg);
  transition: all ease 0.75s;

  @media(max-width: 600px) {
    left: -120px;
  }

  color      : #ffffff;
  font-family: $Os;
  @include adaptiv-font(26, 16);
  font-weight   : 400;
  line-height   : 55px;
  text-align    : left;
  text-transform: uppercase;
  letter-spacing: 2.08px;

  &::before {
    content         : '';
    display         : inline-block;
    width           : 170px;
    height          : 2px;
    margin-bottom   : 8px;
    margin-right    : 10px;
    background-color: #f7f8f3;
  }
}

.arrow-Dawn {
  cursor       : pointer;
  margin-bottom: 60px;
  transition   : all ease 1.5s;
}