@import "safetyZeroing.scss";
@import "_mixins.scss";
@import "fonts.scss";
@import "btn.scss";
@import "header.scss";
@import "mainPage.scss";
@import "logos.scss";
@import "aboutProduct.scss";
@import "shop.scss";
@import "footer.scss";

.firstLevel {
  position: relative;
  margin  : 0 auto;
}

.secondLevel {
  margin: 0 auto;
}

.thirdLevel {
  margin: 0 auto;
}