@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}

.tabs-container {
  max-width: 1175px;
  margin: 0 auto;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.tabs__items::before {
  content: '';
  display: block;
  width: 970px;
  height: 2px;
  background-color: #ced6af;
  position: absolute;
  top: 80px;
  left: 30px;
}

.tabs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  color: #1c1c1b;
  height: 80px;
  font-family: "ProximaNova", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  margin-bottom: 50px;
}

.tabs__item:active {
  text-shadow: 1px 1px 2px #6e774a;
}

.tabs__item:hover {
  border-bottom: 2px solid #1c1c1b;
}

.tabs__skeleton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.tabs__block-desc {
  margin-top: 40px;
  margin-right: 192px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.tabs__block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
}

.tabs__block.active {
  display: block;
}

.tabs__block::before {
  content: '';
  height: 50px;
  width: 33.333%;
  position: absolute;
}

.tabs__block-title {
  color: #000000;
  font-family: "ProximaNova", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin-bottom: 35px;
}

.tabs__block-text {
  color: #6e774a;
  font-family: "ProximaNova", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.72px;
}

.tabs__block-text p {
  margin-bottom: 40px;
}

.tabs__block-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.tabs__block-img img:nth-child(even) {
  margin: 50px 0;
}
