@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
.tabs-container {
  max-width: 1175px;
  margin: 0 auto;
}

.tabs {
  margin-bottom: 150px;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  color: #1c1c1b;
  height: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: pointer;
  margin-bottom: 50px;
}

.tabs__block {
  position: relative;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__block::before {
  content: '';
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
}

.tabs__block:target {
  display: block;
}
