@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"), url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal;
}

.everyDay {
  background: url(../images/cbd_every_day.png) no-repeat center;
  height: 100%;
  background-size: cover;
  color: #ffffff;
}

.externalContainerED {
  max-width: 1920px;
  margin: 0 auto;
}

.everyDay-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.everyDay-container__content {
  max-width: 1175px;
  margin: 0 auto;
  text-align: center;
}

.rating {
  padding-top: 265px;
  margin-bottom: 40px;
}

.faq-text {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 4.4px;
}

.faq-author {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  position: relative;
  margin-bottom: 225px;
}

.faq-author::before {
  content: '';
  display: block;
  width: 45px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 40%;
}

.faq-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-arrows .icon-Arrow-left {
  display: block;
  border: 1px solid #ffffff;
  padding: 45px 40px 40px 40px;
  border-bottom: none;
}

.faq-arrows .icon-Arrow-rightB {
  display: block;
  border: 1px solid #ffffff;
  padding: 45px 40px 40px 40px;
  border-bottom: none;
}

.verticallED {
  position: absolute;
  bottom: 100px;
  left: 60px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: calc(16px + 10 * ((100vw - 320px) / 960));
  font-weight: 300;
  line-height: 55px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.08px;
}
